<h1>
  {{apple.result}}
</h1>

<form (ngSubmit)="onSubmit()" #appleForm="ngForm" id="appForm">
  <input type="text" class="form-control" id="res"
         required
         [(ngModel)]="apple.result" name="res" #spy>
  <div [hidden]="spy.dirty"
       class="alert alert-danger">
    Name is required
  </div>

  <input type="text" class="form-control" id="msg"
         required
         [(ngModel)]="apple.msg" name="msg" #spy2>

</form>
<button type="submit" class="btn btn-success" form="appForm" [disabled]="!appleForm.form.valid" >Submit</button>


<br>TODO: remove this: {{spy.className}}
<br>TODO: remove this: {{spy2.className}}
